.editContainer{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.editContactHeader{
    width: 70%;
    margin: 0 auto;
    color: #ffb86c;
    text-align: center;
    border-bottom: #44475a 1px solid;
    padding-bottom: 10px;
    font-size: 18px;
  }
  .editDiv{
    width: 60%;
    padding: 10px;
    background: #44475a;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > .editImg{
      
      margin-bottom: 40px;
      > img{
        max-height: 205px;
        border: 1px #bd93f9 solid;
        margin-left: 10px;
      }
    }
    > form{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 70%;
      > fieldset{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        > input{
          margin-bottom: 5px;
          background: #44475a;
          color: white;
          padding-right: 5px;
          border: 1px solid #bd93f9;
          border-radius: 4px;
          width: 100%;
          &::placeholder{
            color: white;
  
          }
        }
        &:nth-child(2){
          margin-top: 10px;
          flex-direction: row;
          > .btn{
            margin-right: 15px;
            color: #282c34;
            padding:  5px 5px;
            border-radius: 5px;
            
          }
          > .createContactBtn{
            background: #bd93f9;
          }
          > .cancelContactBtn{
            background: #6272a4;
          }
        }
      }
    } 
  }
  .editImgVector{
    display: flex;
    justify-content: flex-end;
    min-height: 300px;
    margin-top: 35px;
    > img{
      max-height: 290px;
    }
  }